- heading 'Email Screen Questions'

.row
  .col-md-12
    %p
      The URLs aren't in anchor tags because I didn't spend the time to do user input markup. The
      =link_to 'questions and answers', see_for_yourselves_path(format: 'json')
      are being pulled from the database.
      I wrote them in the
      = link_to 'ActiveAdmin', admin_root_path
      CMSish tool I included.
  .col-md-8
    #accordion.panel-group{'aria-multiselectable' => 'true', role: 'tablist'}
      .panel.panel-default
        - @see_for_yourselves.each_with_index do |qa, index|
          .panel-heading{role: 'tab', id: "heading{index}"}
            %h4.panel-title
              %a{'aria-controls' => "collapse#{index}", 'aria-expanded' => 'true', 'data-parent' => '#accordion', 'data-toggle' => 'collapse', href: "#collapse#{index}", role: 'button'}
                = qa.question
          .panel-collapse.collapse{ id: "collapse#{index}", class: index == 0 ? 'in' : nil, 'aria-labelledby' => "heading{index}", role: 'tabpanel' }
            .panel-body
              = qa.answer

