- title 'Gabriel Chaney'
- heading 'Dedup some emails'

.row
  .col-md-6
    %p This will generate 100 randomly generated emails with 50% of them being duplicates (the location of the duplicates in the list are also random).

    %p It will then remove all duplicates while maintaing the original order.

    =button_to "Run test", distinct_email_tests_path
  .col-md-6
    %p
      There's only 100 emails here because 100,000 is unwieldy for a web page. Please, see the Travis build for the 100,000 email test and benchmark numbers.
      = link_to 'https://travis-ci.org/gabrieljoelc/eat_the_food' do
        = image_tag src='https://api.travis-ci.org/gabrieljoelc/eat_the_food.svg?branch=master'

- if @tests.present?
  .container
    - @tests.each_with_index do |(sample, test), index|
      .row
        %h2 Test #{index + 1}
        .col-md-6
          %h3 Source
          %p= sample
        .col-md-6
          %h3 Result
          %p= test.actual
