- title 'Gabriel Chaney'
- heading 'Dedup some emails'

.row
  .col-md-6
    %p
      This will
      = link_to 'generate 100 randomly generated emails', 'https://github.com/gabrieljoelc/eat_the_food/blob/9afc7906e5277f1f011a904a6138829e4806a9c6/app/controllers/distinct_email_tests_controller.rb#L8'
      with 50% of them being duplicates (the location of the duplicates in the list are also random).

    %p It will then remove all duplicates while maintaing the original order.

    =button_to "Run test", distinct_email_tests_path
  .col-md-6
    %p
      There's only 100 emails here because 100,000 is unwieldy for a web page. Please, see the Travis build for the 100,000 email test and benchmark numbers.
      = link_to 'https://travis-ci.org/gabrieljoelc/eat_the_food' do
        = image_tag src='https://api.travis-ci.org/gabrieljoelc/eat_the_food.svg?branch=master'
    %p
      You will find 4 source code files in the
      %code
        = link_to 'https://github.com/gabrieljoelc/eat_the_food/tree/master/lib' do
          \/lib
      directory:
    %ul
      %li
        Ruby
        %code Array
        extension that does the deduping.
        = link_to 'here', 'https://github.com/gabrieljoelc/eat_the_food/blob/master/lib/distinct.rb'
      %li
        %code Distinctifier::Test
        \- Test class that invokes the extension and compares the results with the core Ruby
        %code Array#uniq
        \.
        = link_to 'here', 'https://github.com/gabrieljoelc/eat_the_food/blob/master/lib/distinctifier/test.rb'
      %li
        %code Distinctifier::TestRunner
        \- Test runner class that iterates through samples and associates them with the source list. It also includes a benchmark method.
        = link_to 'here', 'https://github.com/gabrieljoelc/eat_the_food/blob/master/lib/distinctifier/test_runner.rb'
      %li
        %code EmailSampleGenerator
        \-
        Email generator class that randomly generates fake emails.
        = link_to 'here', 'https://github.com/gabrieljoelc/eat_the_food/blob/master/lib/email_sample_generator.rb'

- if @tests.present?
  .container
    - @tests.each_with_index do |(sample, test), index|
      .row
        %h2 Test #{index + 1}
        .col-md-6
          %h3 Source
          %p= sample
        .col-md-6
          %h3 Result
          %p= test.actual
